html {
  @media (max-width: 575px) {
    font-size: 13px;
  }
  @media (min-width: 576px) {
    font-size: 13px;
  }
  @media (min-width: 768px) {
    font-size: 14px;
  }
  @media (min-width: 992px) {
    font-size: 15px;
  }
  @media (min-width: 1200px) {
    font-size: 16px;
  }
}

body {
  font-family: $font;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fcfcfc;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
}

.main {
  flex: 1;
}

.alert {
  font-size: 14px;
}

.title-h1 {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color: #555555;
  font-family: $font-bold;
  font-size: 2.25rem;
}

.title-h2 {
  font-family: $font-bold;
  color: #555;
  padding-bottom: 15px;
}

.title-h3 {
  font-family: $font-bold;
  font-size: 0.875rem;
  color: #555;
  text-transform: uppercase;
  &_font-normal {
    font-family: $font;
  }
  &_text-transform-none {
    text-transform: none;
  }
  &_s-16 {
    font-size: 1rem;
  }
}

.title-h4 {
  font-family: $font-bold;
}

.paragraph {
  color: #333;
  font-size: 1rem;
  &_s_20 {
    font-size: 1.25rem;
  }
}

.lead {
  font-size: 1rem;
  color: #777;
  margin-bottom: 0;
  &_light {
    color: #fff;
  }
  &_mb {
    margin-bottom: 3.125rem;
  }
}

.line {
  width: 23.63rem;
  margin: 1.875rem auto;
  border: 0;
  border-top: 2px solid #6DD5ED;
  &_gray {
    border-top: 2px solid #DDDDDD;
  }
}

.link {
  color: $link-color;
  &:hover {
    color: rgba($link-color, .9);
    text-decoration: none;
    transition: 0.2s;
  }
}

.section {
  &_mb-mid {
    margin-bottom: 6.25rem;
    @media (max-width: 575px) {
      margin-bottom: 50px;
    }
  }
}

.layout {
  &_mb-mid {
    margin-bottom: 6.25rem;
    @media (max-width: 575px) {
      margin-bottom: 50px;
    }
  }
}
