@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
  url("../fonts/FontAwesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
  url("../fonts/FontAwesome/fontawesome-webfont.woff?v=4.7.0") format("woff"),
  url("../fonts/FontAwesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
  url("../fonts/FontAwesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot"),
  url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
  url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.eot"),
  url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
  url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham/Gotham_Bold.eot");
  src: local("☺"), url("../fonts/Gotham/Gotham_Bold.woff") format("woff"), url("../fonts/Gotham/Gotham_Bold.ttf") format("truetype"), url("../fonts/Gotham/Gotham_Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham/Gotham_Book.eot");
  src: local("☺"), url("../fonts/Gotham/Gotham_Book.woff") format("woff"), url("../fonts/Gotham/Gotham_Book.ttf") format("truetype"), url("../fonts/Gotham/Gotham_Book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Bold.eot");
  src: local("☺"), url("../fonts/HelveticaNeue/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Italic";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Italic.eot");
  src: local("☺"), url("../fonts/HelveticaNeue/HelveticaNeue-Italic.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Italic.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Regular";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Regular.eot");
  src: local("☺"), url("../fonts/HelveticaNeue/HelveticaNeue-Regular.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Regular.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Light.eot");
  src: local("☺"), url("../fonts/HelveticaNeue/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JISAZNRegular";
  src: url("../fonts/jaznr/jaznr.eot");
  src: url("../fonts/jaznr/jaznr.eot?#iefix") format("embedded-opentype"),
  url("../fonts/jaznr/jaznr.woff") format("woff"),
  url("../fonts/jaznr/jaznr.ttf") format("truetype"),
  url("../fonts/jaznr/jaznr.svg#jaznr") format("svg");
  font-weight: normal;
  font-style: normal;
}

span.azn {
  font-family: "JISAZNRegular";
  font-size: 16px;
  margin-left: 5px;
  &_bold {
    font-weight: bold;
  }
}

@font-face {
  font-family: "SanFrancisco-Regular";
  src: url("../fonts/SanFrancisco/SanFrancisco.woff2") format("woff2"),
  url("../fonts/SanFrancisco/SanFrancisco.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SanFrancisco-Bold";
  src: url("../fonts/SanFrancisco/SanFrancisco-Bold.woff2") format("woff2"),
  url("../fonts/SanFrancisco/SanFrancisco-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.eot"),
  url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"),
  url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.otf");
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
  url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.otf");
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
  url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"),
  url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.otf");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
  url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"),
  url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-LightItalic";
  src: url("../fonts/Montserrat/Montserrat-LightItalic.otf");
  src: url("../fonts/Montserrat/Montserrat-LightItalic.woff2") format("woff2"),
  url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype"),
  url("../fonts/Montserrat/Montserrat-LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot"),
  url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"),
  url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot"),
  url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
  url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.eot"),
  url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
  url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}